    
  <div class="container">
<<<<<<< HEAD
    <h2>Regístrate</h2>
=======
    <h2>¡Regístrate con nosotros!</h2>
>>>>>>> d61be3c95ad82dcc92b939985e1517f8191e8088

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "clients/shared/error_messages", resource: resource %>

      <div class="field">
<<<<<<< HEAD
        <%= f.label :Nombre  %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
=======
        <%= f.label :name, 'Nombre' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
>>>>>>> d61be3c95ad82dcc92b939985e1517f8191e8088
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :Teléfono %><br />
        <%= f.telephone_field :phone, autocomplete: "telephone", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :Dirección %><br />
        <%= f.text_field :address, autocomplete: "address", class:"form-control" %>
      </div>

      <div class="field">
<<<<<<< HEAD
        <%= f.label :region %><br />
        <%= f.select :region, [	"Región de Arica y Parinacota",	"Región de Tarapacá",	"Región de Antofagasta.",	"Región de Atacama.",	"Región de Coquimbo",	"Región de Valparaíso",	"Región Metropolitana de Santiago.",	"Región del Libertador General Bernardo O’Higgins.",	"Región del Maule.",	"Región del Ñuble",	"Región del Biobío.",	"Región de La Araucanía.",	"Región de Los Ríos.",	"Región de Los Lagos.",	"Región de Aysén del General Carlos Ibáñez del Campo.",	"Región de Magallanes y la Antártica Chilena."	]%>
    </div>

      <div class="field">
        <%= f.label :movility, 'Radio de movilidad (km)' %><br />
        <%= f.number_field :movility, placeholder: 'Please specify the distance range of your transport vehicle', autocomplete: "address", class:"form-control" %> <span>km</span>
      </div>

      <div class="field">
        <%= f.label :capacity, 'Capacidad de transporte (kg)' %><br />
        <%= f.number_field :capacity, placeholder: 'Please specify the maximum weight that your transport vehicle can carry.', autocomplete: "address", class:"form-control" %> <span>kg</span>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control"%>
=======
        <%= f.label :phone, 'Teléfono' %><br />
        <%= f.text_field :phone, autocomplete: "telephone" %>
      </div>

      <div class="field">
        <%= f.label :address, 'Dirección' %><br />
        <%= f.text_field :address, autocomplete: "address" %>
      </div>

      <div class="field">
        <%= f.label :region, 'Región' %><br />
        <%= f.text_field :region, autocomplete: "region" %>
      </div>

      <div class="field">
        <%= f.label :movility, 'Movilidad' %><br />
        <%= f.text_field :movility, placeholder: 'Por favor indica el alcance máximo de tu vehículo de transporte.', autocomplete: "address" %> <span>km</span>
      </div>

      <div class="field">
        <%= f.label :capacity, 'Capacidad de Carga' %><br />
        <%= f.text_field :capacity, placeholder: 'Por favor indica la capacidad máxima de carga de tu vehículo de transporte.', autocomplete: "address" %> <span>kg</span>
>>>>>>> d61be3c95ad82dcc92b939985e1517f8191e8088
      </div>

      <%= f.hidden_field :seller, value: false %>

<<<<<<< HEAD
      <div class="actions ">
        <%= f.submit "Registrar", class:"btn btn-light my-3" %>
=======




      <div class="actions">
        <%= f.submit "Regístrate" %>
>>>>>>> d61be3c95ad82dcc92b939985e1517f8191e8088
      </div>
    <% end %>

    <%= render "clients/shared/links" %>
  </div>
