    
  <div class="container">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "clients/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, autocomplete: "telephone" %>
      </div>

      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address, autocomplete: "address" %>
      </div>

      div class="field">
        <%= f.label :region %><br />
        <%= f.text_field :region, autocomplete: "address" %>
      </div>

      <div class="field">
        <%= f.label :movility, 'Vehicle Movility' %><br />
        <%= f.text_field :movility, placeholder: 'Please specify the distance range of your transport vehicle', autocomplete: "address" %> <span>km</span>
      </div>

      <div class="field">
        <%= f.label :capacity, 'Vehicle Capacity' %><br />
        <%= f.text_field :capacity, placeholder: 'Please specify the maximum weight that your transport vehicle can carry.', autocomplete: "address" %> <span>kg</span>
      </div>

      <%= f.hidden_field :seller, value: false %>





      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "clients/shared/links" %>
  </div>
