<div class="container">
  <h2>¡Regístrate con nosotros!</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "breweries/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :Nombre %><br />
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :Teléfono %><br />
      <%= f.telephone_field :phone, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :Dirección %><br />
      <%= f.text_field :address, class:"form-control" %>
    </div>

    <div class="field">
        <%= f.label :region %><br />
        <%= f.select :region,["Región de Arica y Parinacota",	"Región de Tarapacá",	"Región de Antofagasta",	"Región de Atacama",	"Región de Coquimbo",	"Región de Valparaíso",	"Región Metropolitana de Santiago",	"Región del Libertador General Bernardo O’Higgins",	"Región del Maule",	"Región del Ñuble",	"Región del Biobío",	"Región de La Araucanía",	"Región de Los Ríos",	"Región de Los Lagos",	"Región de Aysén del General Carlos Ibáñez del Campo",	"Región de Magallanes y la Antártica Chilena"	] %>
    </div>

    <div class="field">
      <%= f.label "Capacidad de producción mensual de Bagazo (kg)" %><br />
      <%= f.number_field :capacity, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.hidden_field :seller, value: true %>
    </div>


    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control"%>
    </div>

    <div class="actions">
      <%= f.submit "Regístrate" %>
    </div>
  <% end %>

  <%= render "breweries/shared/links" %>
</div>