<%clients= clients_by_distance(@clients,current_brewery) %>
<div class="container">

    <h1>Bienvenido <%= current_brewery.name %></h1>
    <h2>Mira los compradores de bagazo cerca de ti</h2>
    <%= link_to "Registrar producción de bagazo", new_bagass_path %>
    <% bagasse= Bagasse.where(brewery_id: current_brewery.id).pluck(:quantity)%>
    <% deals=Deal.where(brewery_id: current_brewery.id).pluck(:deal_quantity) %>
    <% total_bagasse= bagasse.inject(0) { |sum, b| sum + b } %>
    <% total_deals= deals.inject(0) { |sum, b| sum + b } %>
    <% bagasse_stock= total_bagasse-total_deals%>
    <p class="card-text">Bagazo disponible: <%= bagasse_stock%></p>

    <% clients.each do |c| %>
    <div class="card my-3">
        <div class="card-header">
          <%= link_to "#{c.name}", show_client_path(c.id) %> 
        </div>
        <div class="card-body">
          <h5>Email: <%= c.email %></h5>
          <h5>Dirección: <%= c.address %></h5>
          <h5>Región: <%= c.region %></h5>
          <h5 class="card-title">Número de solicitudes: <%= c.deals.count %></h5>
        </div>
      </div>
    <% end %> 



</div>

