  <div class="container">
    <h2>¡Acuerda un encargo!</h2>

<%= form_with(model: @deal, url: create_deal_brewery_id_path(@brewery.id),local: true) do |ff| %>
    <div class="field">
        <%= ff.label :deal_quantity, 'Cantidad a retirar' %><br />
        <%= ff.number_field :deal_quantity, autofocus: true %>
    </div>

        <div class="field">
            <%= ff.label :deal_date, 'Fecha del retiro' %><br />
            <%= ff.date_field :deal_date %>
        </div>

        <div class="actions">
            <%= ff.submit "Confirmar" %>
        </div>
    <% end %>
  </div>  


