<div class="container">
    <h1>Registra tu bagazo</h1>

    <%= form_with(model: @bagasse ,url: bagasses_path,local: true) do |f| %>
        
        <div class="field">
            <%= f.label "Cantidad de bagazo (Kg)" %><br />
            <%= f.number_field :quantity%>
        </div>  
        
        <div class="field">
            <%= f.label "Fecha de producción" %><br />
            <%= f.date_field :production_date%>
        </div>   

        <div class="actions my-2">
            <%= f.submit "Crear registro" %>
        </div>
    <% end %>
</div>
