<!DOCTYPE html>
<html>
  <head>
    <title>BTamina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render '/layouts/navbar' %>>
=======
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
>>>>>>> dc19f2e143dc7d791d885d44895a20561cfb8053
    <%= yield %>
  </body>
</html>
